body {
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	margin: 0;
	padding: 0;
}

#menu {
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	z-index: 1000;
	height: 45px;
	border-bottom: 1px solid #ccc;
}

#menuInput {
	float: left;
	margin-left: 15px;
	position: relative;
}

#menu input[type=text] {
	width: 280px;
	height: 30px;
	border: 1px solid #ccc;
	outline: none;
	padding: 0 35px 0 5px;
	float: left;
}

#submitSearch {
	width: 32px;
	height: 32px;
	border: 0;
	background: url(/img/search.png) center no-repeat transparent;
	background-size: 20px;
	cursor: pointer;
	outline: none;
	position: absolute;
	right: 0;
	vertical-align: middle;
}

#menuLeft {
	padding: 7px;
}

#menuLeftImg {
	float: left;
	margin-left: 5px;
}

#menuLeftImg > img {
	height: 32px;
}

#menuLeftTitle {
	float: left;
	padding: 5px 5px 7px 7px;
	font-size: 17px;
}

#menuLeftTitle a {
	color: #000;
}

#menuSocial {
	float: right;
	padding: 5px;
}

#menuSocial img {
	width: 32px;
}

#menuSocialSlack {
	margin-right: 10px;
}

#infoMessage {
	position: absolute;
	z-index: 1001;
	left: 0;
	right: 0;
	text-align: center;
	top: 45px;
	font-size: 20px;
	padding: 13px;
	color: #fff;
	background-color: #ff8585;
	cursor: pointer;
	display: none;
}

#cy {
	position: absolute;
	left: 0;
	right: 34%;
	top: 45px;
	bottom: 0;
	z-index: 999;
}

#info {
	position: absolute;
	right: 0;
	top: 45px;
	bottom: 0;
	width: 34%;
	border-left: 1px solid #ccc;
	overflow: auto;
}

#unitParent {
	padding-left: 5px;
}

#unit {
	color: #808080;
}

#infoClose, #addressClose, #assetClose {
	text-align: right;
	font-size: 18px;
	margin: 10px;
	display: none;
}

#addressClose, #assetClose {
	display: block;
	margin: 10px auto;
}

#defaultInfo {
	text-align: center;
	margin-top: 20px;
	font-size: 18px;
}

#listInfo {
	display: none;
	padding-left: 3px;
}

#info > #listInfo > div {
	margin-top: 10px;
}

.infoTitle {
	font-weight: bold;
	padding: 5px;
	cursor: pointer;
	color: #333333;
	display: inline-block;
}

.infoTitle:hover {
	color: #868686;
}

.infoTitle.hideTitle {
	color: #868686;
}

.infoTitle > .infoTitleImg {
	display: inline-block;
	background-image: url(/img/arrow_down.png);
	background-size: cover;
	width: 12px;
	height: 12px;
	margin-bottom: -2px;
}

.infoTitle.hideTitle > .infoTitleImg {
	background-image: url(/img/gray_right.png);
}

.infoTitle.hideTitle:hover {
	color: #333333;
}

#addressInfo .infoTitle, #assetInfo .infoTitle {
	padding: 5px 0;
}

#addressInfo .infoTitle > .infoTitleImg, #assetInfo .infoTitle > .infoTitleImg {
	margin-bottom: -1px;
}

#addressInfo .infoTitle.hideTitle > .infoTitleImg, #assetInfo .infoTitle.hideTitle > .infoTitleImg {
	margin-bottom: -1px;
}

#addressInfo .address-assets {
	font-style: normal;
	display: block;
}
#addressInfo .address-assets .filter-address-assets {
    height: 30px;
    border: 1px solid #ccc;
    outline: none;
	padding: 0 35px 0 5px;
	cursor: pointer;
}

.transactionListType {
	border: 1px solid #ccc;
	height: 30px;
	padding: 0 5px; 
	margin: 4px 0 8px; 
	outline: none;
	cursor: pointer;
}

.theadForTransactionsList th {
	padding: 7px 0;
	background-color: #f1f1f1;
}

.infoTitleChild {
	font-weight: bold;
	padding: 5px;
	margin-bottom: 7px;
	cursor: pointer;
	background-color: #f1f1f1;
	color: #333333;
}

.childNotSpoiler {
	font-weight: bold;
	padding: 5px;
	margin-bottom: 7px;
	background-color: #f3f3f3;
	color: #333333;
}

.messagesInfo {
	padding-left: 5px;
	margin-bottom: 10px;
}

.infoTitleInputs, .infoTitleInput {
	font-weight: bold;
	margin-bottom: 7px;
	cursor: pointer;
	color: #333333;
}

.inputsInfo, .inputInfo, .inputsInf {
	margin-bottom: 10px;
}

.messagesInfo > div {
	margin-bottom: 5px;
}

.inputsInfo > div, .inputInfo > div {
	margin-bottom: 5px;
}

a {
	color: #2980b9;
	text-decoration: none;
}

a[href^="#"], .thisAddress, #unit, .unit, .address {
	font-family:SFMono-Regular,Consolas,Liberation Mono,Menlo,monospace;
}

#info #authors > div, #info #children > div, #info #parents > div , #info #witnesses > div, #info #triggerUnit > div{
	display: block;
	padding: 5px;
}

pre{
	margin: 0;
}

label {
	color: gray;
	font-weight: normal;
	font-style: italic;
}

.payload {
	white-space: pre-wrap;
	word-wrap: break-word;
}

#otherInfo > div {
	padding: 0 5px;
}

.outputs_div {
	margin-bottom: 5px;
}

.outputs_div > div {
	margin-bottom: 10px;
}

.message a {
	display: inline !important;
	padding: 0 !important;
}

.asset {
	margin-left: 10px;
}

#witnessesTitle {
	font-weight: bold;
	padding: 5px;
}

#witnessesTitle > a {
	display: inline;
	font-weight: 300;
	color: #2980b9 !important;
}

.row {
	max-width: 1200px;
	margin: auto;
	padding: 0 0.5rem;
}

.row::before, .row::after, .rowFull::before, .rowFull::after {
	content: ' ';
	display: table;
}

.row::after, .rowFull::after {
	clear: both;
}

#infoAndBalanceAddress, #infoAndBalanceAsset {
	margin-top: 20px;
}

#loader {
	display: none; 
	top: 50px; 
	position: fixed; 
	z-index: 9999999999;
	left: 0;
	right: 0;
	text-align: center;
}

#addressInfo, #assetInfo, #whiteBlock {
	position: absolute;
	top: 46px;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 999;
	background-color: #fff;
	font-size: 16px;
	display: none;
}

.transactionUnit {
	background-color: #f1f1f1;
	padding: 7px 0;
	margin: 15px 0 5px;
}

.transactionUnitListAddress {
	margin: 0 5px 5px 0;
}

.thisAddress {
	color: #808080;
}

#listUnspent > div {
	margin: 10px 0;
}

#blockListUnspent, #blockListTopHolders {
	display: none;
	margin-top: 50px;
}

#showMoreHolders {
	color: #2a7fb9;
	margin: 4px 0;
	text-decoration: underline;
	cursor: pointer;
}

.utxo > td:first-child {
	width: 45%;
}

.utxo > td:nth-child(2) {
	width: 5%;
	text-align: center;
}

#scroll {
	position: absolute;
	right: 34%;
	top: 45px;
	bottom: 0;
	width: 50px;
	overflow: auto;
	z-index: 999;
	margin-right: 1px;
}

#scrollBody {
	width: 1px;
}

.autoComplete_wrapper > ul > li mark {
	color: #2980b9 !important;
}

.autoComplete_wrapper > ul {
	top: 75% !important;
}

.autoComplete_wrapper > input {
	border-radius: 0 !important;
	font-size: 13.3333px !important;
}

.autoComplete_wrapper > input::placeholder {
	color: rgb(117, 117, 117) !important;
}

#goToTop {
	width: 48px;
	height: 48px;
	position: absolute;
	z-index: 999;
	cursor: pointer;
	background: url(/img/goToTop.svg) center no-repeat;
	background-size: 28px;
	top: 68px;
	right: 34%;
	border: 1px solid #5e5e5e;
	border-radius: 100%;
	margin-right: 40px;
}

#goToTop:hover {
	background: url(/img/goToTop_hover.svg) center no-repeat;
	background-size: 28px;
	border: 1px solid #000;
}

#goToTop:hover > #titleGoToTop {
	display: block;
}

#titleGoToTop {
	position: absolute;
	top: 52px;
	text-align: center;
	width: 68px;
	left: -11px;
	display: none;
}

.numberFormat {
	/*cursor: pointer;*/
}

#tableListTransactions, #tableListAssetTransactions {
	width: 100%;
    border-collapse: collapse;
}

.trigger-legend {
	bottom: 0;
	position: absolute;
	margin: 20px;
	font-size: 24px;
	width: 40px;
	height: 40px;
	z-index: 1001;
	color: #2980b9;
	font-weight: bold;
	background: whitesmoke;
	border: 1px solid silver;
}

.modal {
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.5);
	opacity: 0;
	visibility: hidden;
	transform: scale(1.1);
	transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s;
	z-index: 1002;
}
.modal-content {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-color: white;
	padding: 1rem 1.5rem;
	width: 85%;
	max-width: 24rem;
	border-radius: 0.5rem;
}
.close-button {
	float: right;
	width: 1.5rem;
	line-height: 1.5rem;
	text-align: center;
	cursor: pointer;
	border-radius: 0.25rem;
	background-color: lightgray;
}
.close-button:hover {
	background-color: darkgray;
}
.show-modal {
	opacity: 1;
	visibility: visible;
	transform: scale(1.0);
	transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s;
}

.sprite-legend {
	background: url('../img/icon-legend.png') no-repeat;
	background-size: 90px 90px;
	width: 30px;
	height: 30px;
	
}
.sprite-legend span {
	position: absolute;
	margin-left: 35px;
	margin-top: 5px;
}
.sprite-1-1 {
	background-position: 0px 0px;
}
.sprite-1-2 {
	background-position: -30px 0px;
}
.sprite-1-3 {
	background-position: -60px 0px;
}
.sprite-2-1 {
	background-position: 0px -30px;
}
.sprite-2-2 {
	background-position: -30px -30px;
}
.sprite-2-3 {
	background-position: -60px -30px;
}
.sprite-3-1 {
	background-position: 0px -60px;
}

.new_transaction {
	display: none;
}

.trunc {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.td_in_table {
	padding: 8px 0;
	vertical-align: top;
	white-space: nowrap;
}

.td_in_table > div {
	display: inline-block;
}

.moreAddressesBlock {
	margin-left: 2px;
}

.addressesBlock {
	position: absolute;
	background-color: #fff;
	padding: 6px;
	display: none;
	border: 1px solid #ccc;
}

.addressCounter {
	background-color: #2980b9;
	font-size: 15px;
	padding: 0 6px;
	border-radius: 6px;
	color: #fff;
}

.moreAddressesBlock:hover .addressesBlock {
	display: block;
}

/* adaptive */

@media all and (max-width: 1200px) {
	#cy, #scroll {
		right: 0;
	}

	#goToTop {
		right: 39px;
	}

	#cy.showInfoBlock, #scroll.showInfoBlock, #goToTop.showInfoBlock, .trigger-legend.showInfoBlock {
		display: none !important;
	}

	#info {
		width: 100%;
		left: 0;
		border: 0;
	}

	#info.hideInfoBlock {
		display: none;
	}

	#infoClose {
		display: block;
	}

	#listUnits td:not(.td_in_table), #listAssetUnits td:not(.td_in_table) {
		display: block;
		width: 100%;
	}

	#listUnits > tr > td:nth-child(2) {
		padding: 5px 7px 8px;
	}
}

@media all and (max-width: 580px) {
	#menu {
		height: 85px;
	}

	#cy, #scroll, #info {
		top: 85px;
	}

	#goToTop {
		top: 109px;
		right: 22px;
	}

	#loader {
		top: 90px;
	}

	#addressInfo, #assetInfo {
		top: 86px;
	}

	#menuInput, #menuInput > form {
		width: 98%;
	}

	#menuInput input[type=text] {
		width: 81%;
	}
}